@{
    ViewData["Title"] = "api roulette";
}
@model apiroulette.Models.APIModel
<div id="top"></div>
<!-- nav -->
<nav class="nav" id="nav">
    <div class="inner-nav">
        <div class="hamburger" id="hamburger">≡</div>
        <ul id="menu">
            <li><a href="#top" class="title anchor">api roulette</a></li>
            <li><a href="#about" class="anchor">about</a></li>
            <li><a href="#tryit" class="anchor">try it</a></li>
        </ul>
    </div>
</nav>
<div class="nav-spacer"></div>
<!-- /nav -->
<!-- about -->
<section class="row about">
    <div id="about" class="anchor-spacer"></div>
    <div class="inner-row">
        <h1>api roulette</h1>
        <h2>Get output from a random api.</h2>
        <p>Enter something and you'll get the response for that query from a randomly selected api.</p>
        @using (Html.BeginForm("random", "api", FormMethod.Get, new { }))
        {
            @Html.TextBoxFor(m => m.q, new { @class = "" })
            <input type="submit" value="Go!" class="" />
        }
    </div> 
</section>
<!-- /about -->

