/*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
a {
  padding: 4px 6px;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal; }

a:hover {
  text-decoration: underline;
  padding: 4px 4px 2px 4px;
  border: 2px solid #333;
  border-radius: 5px;
  color: #333; }

body {
  font-family: monospace;
  color: #fff;
  margin: 0; }

h1 {
  text-transform: uppercase; }

h2 {
  font-size: 24px; }

p {
  font-size: 18px;
  font-weight: 300; }

.anchor-spacer {
  position: relative;
  top: -100px; }

.button {
  padding: 4px 4px 2px 4px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #333;
  min-width: 100px;
  vertical-align: middle;
  display: inline-block; }

.code {
  font-family: 'Courier New'; }

.container {
  border-top: 1px solid #dbdbdb;
  color: #333; }

.hamburger {
  font-size: 48px;
  display: inline-block;
  padding-top: 17px;
  float: left; }

.inner-nav {
  width: 900px;
  margin: 0 auto;
  padding-top: 0px; }
  .inner-nav ul {
    list-style-type: none;
    float: left;
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    padding-left: 0px;
    /* removes annoying user-agent stylesheet ul padding */
    display: inline-block;
    margin: 16px 0 16px 0; }
    .inner-nav ul li {
      display: inline-block;
      margin: 15px 22px 15px 0px; }
      .inner-nav ul li a {
        padding: 6px 6px 4px 6px;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 24px; }
      .inner-nav ul li a:hover {
        text-decoration: underline;
        padding: 4px 4px 2px 4px;
        border: 2px solid #fff;
        border-radius: 5px; }
      .inner-nav ul li:last-of-type {
        margin: 15px 0px 15px 0px; }

.inner-row {
  margin: 100px auto;
  width: 66.66667%; }

.list-item {
  margin: 10px 0; }

.nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: black;
  height: 100px; }

.nav-spacer {
  height: 100px; }

.row {
  float: left;
  /*border-bottom: 1px solid #dbdbdb;*/
  min-height: 200px;
  height: auto;
  width: 100%;
  z-index: 1;
  overflow: hidden; }

.search {
  background-color: #fff;
  font-family: monospace;
  padding: 4px 6px;
  text-decoration: none;
  color: #333;
  font-size: 24px;
  font-weight: normal;
  padding: 5px 4px 3px 4px;
  border-radius: 5px;
  border: 2px solid #333;
  vertical-align: middle;
  margin: 10px 0; }

.submit {
  background-color: #fff;
  font-family: monospace;
  padding: 4px 6px;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0; }

.submit:hover {
  text-decoration: underline; }

.title {
  text-decoration: underline;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  display: inline-block; }

@media all and (min-width: 1071px) {
  .hamburger {
    display: none; } }

@media all and (max-width: 1070px) {
  .inner-nav {
    margin-left: 150px; }
  .inner-nav ul > :not(:first-child) {
    display: none; } }

@media all and (max-width: 767px) {
  .about-inner {
    width: 90%; }
  .hamburger {
    padding-top: 15px; }
  .inner-nav {
    width: 350px;
    margin-left: 15px; }
  .inner-nav ul li a {
    font-size: 20px; }
  .inner-row {
    width: 90%;
    padding: 0px 15px; }
  .row {
    width: 100%; } }

