$font-stack: courier-new, monospace;/*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
$primary-color: #fff;
$soft-black: #333;

a {
	padding: 4px 6px;
	text-decoration: none;
	color: $soft-black;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
	padding: 4px 4px 2px 4px;
	border: 2px solid $soft-black;
	border-radius: 5px;
}


body {
    font-family: $font-stack;
    color: $primary-color;
	margin: 0;
}

h1 {
    text-transform: uppercase;
}

h2 {
	font-size: 24px;
}

p {
	font-size: 18px;
	font-weight: 300;
}

.about {
    border-top: 1px solid #dbdbdb;
    color: $soft-black;
}

.anchor-spacer {
	position:relative; 
	top:-100px;
}

.button {
	padding: 4px 4px 2px 4px;
	text-decoration: none;
	border-radius: 5px;
	border: 2px solid $soft-black;
	min-width: 100px;
	vertical-align: middle;
	display: inline-block;
}

.hamburger {
	font-size: 48px;
	display: inline-block;
	padding-top: 17px;
	float: left;
}

.inner-nav {
	width: 900px;
	margin: 0 auto;
	padding-top: 0px;

	& ul {
		list-style-type: none;
		float:left;
		-moz-padding-start: 0px;    
		-webkit-padding-start: 0px; 
		padding-left: 0px; /* removes annoying user-agent stylesheet ul padding */ 
		display: inline-block;
        margin: 16px 0 16px 0;

		& li {
			display: inline-block;
			margin: 15px 22px 15px 0px;
			
			& a {
				padding: 6px 6px 4px 6px;
				text-decoration: none;
				color: $primary-color;
				text-transform: uppercase;
				font-size: 24px;
			}

			& a:hover {
				text-decoration: underline;
				padding: 4px 4px 2px 4px;
				border: 2px solid $primary-color;
				border-radius: 5px;
			}

			&:last-of-type {
				margin: 15px 0px 15px 0px;
			}
		}

		
	}
}

.inner-row {
    margin: 100px auto;
	width: (8 / 12) * 100%;
}

.nav {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
    background: black;
    height: 100px;
}

.nav-spacer {
    height: 100px;
}

.row {
	float:left;
  	/*border-bottom: 1px solid #dbdbdb;*/
  	min-height: 200px;
	height: auto;	
	width: 100%;
	z-index: 1;
	overflow: hidden;
}

.search {
    background-color: $primary-color;
    font-family: $font-stack;
    padding: 4px 6px;
	text-decoration: none;
	color: $soft-black;
	font-size: 24px;
	font-weight: normal;
    padding: 4px 4px 2px 4px;
	border-radius: 5px;
	border: 2px solid $soft-black;
    vertical-align: middle;
}

.submit {
    background-color: $primary-color;
    font-family: $font-stack;
    padding: 4px 6px;
	text-decoration: none;
	color: $soft-black;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

.submit:hover {
    text-decoration: underline;
}

.title {
	text-decoration: underline;
	color: $primary-color;
	font-size: 24px;
	font-weight: bold;
	display: inline-block;
}

@media all and (min-width: 1071px) {

	.hamburger {
		display: none;
	}
}

@media all and (max-width: 1070px) {

	.code-img {
		opacity: 0.25;
		transition: opacity 0.25s ease-in-out;
		-moz-transition: opacity 0.25s ease-in-out;
		-webkit-transition: opacity 0.25s ease-in-out;
	}

	.container h1 {
		font-size: 12vh;
	}

	.inner-nav {
		margin-left: 150px
	}

	.inner-nav ul > :not(:first-child){
		display: none;
	}
}

@media all and (max-width: 767px) {

	.about-inner {
		width: 90%;

	}

	.container h1 {
		font-size: 12vw;
	}

	.hamburger {
		padding-top: 15px;
	}

	.inner-nav {
		width: 350px;
		margin-left: 15px
	}

	.inner-nav ul li a {
		font-size: 20px;
	}

	.inner-row {
		width: 90%;
		padding: 0px 15px;

	}

	.row {
		width: 100%;
	}
}